langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
espeak-py
pymupdf
wikipedia
langchain-text-splitters
espeak-ng
lxml
langchain-openai
faiss-cpu
chromadb
langchain_chroma
SpeechRecognition
streamlit
langchain_groq
langchain_huggingface
fastapi
uvicorn
langserve
pyttsx3
bs4
